<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/rails_default" %>
    <%= render "layouts/shim" %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="wrap">
      <%= render "layouts/header" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
